@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {

    --blue-dark: #07145A;
    --blue-default: #1a32bc;
    --blue-light: #48D0F4;
    --purple: #A680EE;
    --pink: #bb22d0;
    --text: #ffffff;
    --gray: #717171;
    --black: #1a1a1a;
    --red: #c23939;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background: center/cover url(assets/wallpaper-todo.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

.containerQuestion {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1ad5;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    transform: scale(0);
    transition: ease-in-out .3s;
    z-index: 10;
}

.question {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #00000045;
    border-radius: 15px;
    width: 300px;
    height: 150px;
}

.question > h1, #nameTask {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
}

.question > #nameTask {
    margin-top: -1.5rem;
}

.question > .btnMoveTodo {
    width: 30%;
    height: 40px;
    border: 0;
    border-radius: 8px 0 0 8px;
    background-color: var(--pink);
    color: var(--text);
    font-size: .8rem;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btnMoveTodo:hover {
    background-color: var(--purple);
}

.question > .btnMoveDoing {
    width: 30%;
    height: 40px;
    border: 0;
    border-radius: 0 8px 8px 0;
    background-color: var(--blue-default);
    color: var(--text);
    font-size: .8rem;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btnMoveDoing:hover {
    background-color: var(--blue-dark);
}

.container {
    background-color: #1a1a1a80;
    padding: 2rem;
    border: 1px solid var(--blue-light);
    border-radius: 15px;
    width: 400px;
    min-height: 550px;
}

.container > h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--blue-light);
    margin-bottom: 1.5rem;
}

.inputBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -18rem;
}

.box-input-task {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 0;
}

.input-task {
    border: 1px solid var(--pink);
    border-right: 0;
    border-radius: 8px 0 0 8px;
    background-color: #1a1a1ad6;
    color: var(--text);
    outline: none;
    padding-left: .8rem;
    width: 70%;
    line-height: 3rem;
    font-size: 1rem;
    z-index: 1;
}

::placeholder {
    color: #dadada99;
    opacity: 1;
}

.btnAdd {
    width: 30%;
    border: 0;
    border-radius: 0 8px 8px 0;
    background-color: var(--pink);
    color: var(--text);
    font-size: 1rem;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btnAdd:hover {
    background-color: var(--purple);
}

.alert-add {
    position: absolute;
    top: 0;
    padding: .3rem .8rem;
    border-radius: 0 0 15px 15px;
    font-size: .7rem;
    text-align: center;
    background-color: var(--red);
    color: var(--text);
    transform: translateY(-20px);
    opacity: 0;
    transition: ease-in-out .5s;
}

.box {
    list-style: none;
    border-radius: 15px;
    padding: 1.25rem;
    min-height: 450px;
}

.task {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    border-radius: 8px 8px 0 0;
    font-size: .8rem;
    padding: .4rem;
    margin-top: .5rem;
    color: var(--text);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--text);
}

.btnDoing {
    margin-left: auto;
    border: 0;
    border-radius: 8px 0 0 8px;
    background-color: var(--blue-default);
    color: var(--text);
    font-size: 1rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btnDoing:hover {
    background-color: var(--blue-dark);
    color: var(--text);
}

.btnDel {
    border: 0;
    border-radius: 0 8px 8px 0;
    background-color: var(--pink);
    color: var(--text);
    font-size: 1rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btnDel:hover {
    background-color: var(--text);
    color: var(--pink);
}

.btnMove {
    margin-left: auto;
    border: 0;
    border-radius: 8px 0 0 8px;
    background-color: var(--blue-light);
    color: var(--text);
    font-size: 1rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btnMove:hover {
    background-color: var(--purple);
    color: var(--text);
}

.icon-btn-task {
    font-size: 1.5rem;
}
